.main-form-product {

  padding: 12px 0 4%;

  .title {
    padding-left: 4%;
    display: flex; 
    align-items: center;
    gap: 8px;
    
    & > p {
      text-transform: capitalize;
    }
    
    & > p:first-child {
      font-size: 28px;
      font-weight: 500;
      }
    
    & > p:last-child {
      font-size: 24px;
      font-weight: 500;
      color: #023e8a;
    }
  }

  .container {
    padding: 40px 0 0 0;



    .section {
        width: 80%;
        padding: 12px 0;
        display: flex;
        justify-content: center;
    
        &>div {
          width: 100%;
          max-width: 440px;

          &:first-child {
            display: flex;
            width: 120px;
            margin-right: 12px;
            justify-content: flex-end;
            align-self: flex-start;
            padding-top: 4px;
          }

          .isRequired {
            color: #dc3545;
            font-size: 15px;
            margin-left: 2px;
          }
          
          .errorMessage {
            color: red; 
            font-size: 12px;
            font-weight: normal; 
            margin: 4px 4px 0;
          }
    
          input {
            width: 80%;
            padding: 6px 12px;

              &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
            
              &[type=number] {
                -moz-appearance: textfield;
              }
          }
        }

        &.description {
          textarea {
            width: 100%;
            padding: 12px;
            max-width: 440px;
            height: 40px;
            min-height: 40px;
            border-radius: 4px;
            border-color: #ccc;
            font-size: 17px;

            &:hover {
              border-color: #000;
            }

            &:focus {
            outline: 1px solid #2683c2;
            }
          }
        }

        &.thumbnailUrl {

          & > div {

            &:first-child {
              align-self: flex-start;
              padding-top: 20px;
            }

            .list {
              display: flex;
              gap: 12px;
              flex-wrap: wrap;
              width: 100%;

                &-item {
                  padding: 0;
                  width: 100px;
                  height: 100px;

                    img {
                      width: 100px;
                      height: 100px;
                      object-fit: fill;
                      object-position: center
                    }

                    .cancelIcon {
                      color: grey;
                      position: absolute;
                      top: -12px;
                      right: -12px;
                      cursor: pointer;
                    }
                }

                .add-image-box {
                  width: 100px;
                  height: 100px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-wrap: wrap;

                    svg {
                      font-size: 80px;
                    }
                }
              }
            }
          }
       }

    .boxButton {
      display: flex;
      justify-content: center;
      gap: clamp(20px, 20%, 120px);
      padding: 20px 0 0;

        button {
          box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
            padding: 6px 16px;
            font-size: 0.875rem;
            min-width: 64px;
            box-sizing: border-box;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            line-height: 1.75;
            border-radius: 4px;
            letter-spacing: 0.02857em;
            text-transform: uppercase;
            border: none;
            
            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }

        }

        .addButton {
          color: #fff;
          background-color: #3f51b5;
        }

        .resetButton {
          background: red;
          color: #fff;
        }
    }
  }
  
}