.isRequired {
  color: #dc3545 !important;
  font-size: 15px !important;
  margin-left: 2px !important;
}

.errorMessage {
  color: red !important;
  font-size: 12px !important;
  font-weight: normal !important;
  margin: 4px 4px 0 !important;
}