.main-modal {

  .container {

    & > div {
      display: flex;
      justify-content: space-around;
      padding: 40px 40px 8px;
    }

    button {
      font-weight: bold;
      outline: none;
      border: none;

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
    }

    .cancelButton {
      background: #d32f2f;
      color: #fff;
    } 

    .confirmButton {
      background: #70e000;
      color: #111;
    }
      
    
  }
}